@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');



body {
    margin: 0;
    padding: 0;
    background: url(computerr.jpg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
 
.box {
    width: 450px;
    background: #111823;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    border-radius: 10px;

}

.box img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1 {
    font-size: 40px;
    font-weight: 100;
}
.box h3 {
    font-size: 20px;
    font-weight: 100;
    color: gray;
}
.box p {
    text-align: left;
    color: gray;
}

ul {
    margin: 0;
    padding: 0;
}
.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;

}
.box li a {
    color: gray;
    font-size: 30px;
    transition: all ease-in-out 250ms;
}
.box li a:hover {
    color: white;
}
